In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("Data.csv")

In [4]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
df.isnull().sum()

Category    0
Message     0
dtype: int64

In [7]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

from nltk.corpus import stopwords

In [8]:
for i in range(0,5572):
    df.iloc[i,1] = word_tokenize(df.iloc[i,1])
    lst = df.iloc[i,1]
    for j in range(0,len(lst)):
        if lst[j] not in stopwords.words("english"):
            new_word = lemmatizer.lemmatize(lst[j])
            lst[j] = new_word
        else:
            lst[j] = " "

In [9]:
for i in range(0,5572):
    df.iloc[i,1] = " ".join(df.iloc[i,1])
    df.iloc[i,1] = df.iloc[i,1].lower()

In [10]:
df.head()

  Category                                            Message
0      ham  go   jurong point , crazy .. available     bug...
1      ham                    ok lar ... joking wif u oni ...
2     spam  free entry   2   wkly comp   win fa cup final ...
3      ham    u dun say   early hor ... u c already   say ...
4      ham  nah i   n't think   go   usf ,   life around  ...

In [11]:
from sklearn.feature_extraction.text import CountVectorizer

In [17]:
cv = CountVectorizer(max_features = 2500, binary = True)

In [18]:
X = cv.fit_transform(df['Message']).toarray()

In [19]:
X

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], shape=(5572, 2500))